.error {
    color: #e46a76;
    font-weight: bold;
}
.btn-none,
.btn-none:focus {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.of-cover {
    object-fit: cover;
}
